body {
  background: #333;
  box-sizing: border-box;
}

.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1{
  font-size: 55px;
}

.App .playList  {
  background: #ccc;
  border: 1px #333 solid;
  margin:20px 10px 5px 10px;
  overflow: auto;
}

.App .playList img {
  width:100%;
}

.App .filter input {
  padding: 10px;
  width:33%;
  border-radius: 5px;
  border:none;
  
}