body {
  background: #666; 
  text-align: center
}

.playList {
  display: inline-flex;
  flex-direction: column;
}

/*
.App .playList  {
  background: #ccc;
  border: 1px #333 solid;
  margin:20px 10px 5px 10px;
  overflow: auto;
}

.App .playList img {
  width:100%;
}

.App .filter input {
  padding: 10px;
  width:33%;
  border-radius: 5px;
  border:none;
  
}*/